.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  background-color: aliceblue;
}

.fighter-preview___root h2, .fighter-preview___root span {
  width: 100%;
  text-align: center;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}